.header {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 87%;
    width: 100%;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.burger_btn {
    width: 2rem;
    height: 1.294rem;
    position: relative;
    span {
        position: absolute;
        display: block;
        background-color: var(--white);
        height: 0.1875rem;
        &:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
        }

        &:nth-child(2) {
            top: 50%;
            left: 0;
            width: 1.5625rem;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
            width: 0.83125rem;
        }
    }
}