.section {
    width: 100%;
    min-height: 1080px;
    height: 100dvh;
    background-image: url('../../assets/styles/img/meet-the-characters-bg.jpg');
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.block_wrapper {
    position: absolute;
    position: absolute;
    top: 22.374%;
    left: 7.526%;
    width: 44.71875rem;
    height: 39.21rem;
}

.text_container {
    background-size: cover;
    -webkit-clip-path: url(#container-meet-the-caracters);
    clip-path: url(#container-meet-the-caracters);
    backdrop-filter: blur(10px);
    padding: 10.1875rem 3.86875rem 0 5.4725rem;
    background-image: url('/assets/styles/icons/meet-the-characters-container.svg');
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.125rem;
        line-height: 2.5rem;

        &:nth-child(1) {
            margin-bottom: 1.875rem;
        }

        &:nth-child(2) {
            margin-bottom: 2.6875rem;
        }
    }
}

.title_container {
    position: absolute;
    top: -4.1775rem;
    left: -4.23875rem;
    width: 52.615rem;
    height: 11.309375rem;
    background-image: url('/assets/styles/icons/meet-the-characters-title-bg-min.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    img {
        height: 17.8125rem;
        width: 19.8125rem;
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2.08deg);
    font-family: LilitaOne;
    font-size: 4.375rem;
    letter-spacing: -1%;
    text-wrap: nowrap;
}

.creature {
    position: absolute;
    top: -6.326875rem;
    right: -10.618125rem;
}

.border {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%) rotate(180deg);
    z-index: 2;
}