<section class="section">
    <div class="block_wrapper">
        <div class="title_container">
            <img class="title_bg" src="assets/styles/icons/meet-the-characters-title-bg.svg" loading='lazy'
                alt="title-bg" />
            <img class="creature" src="../../assets/styles/icons/meet-the-characters-title-creature.svg"
                loading='lazy' alt='creature-img'/>
            <p class="title">MEET THE CHARACTERS</p>
        </div>
        <div class="text_container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor. Cras vel
                leo blandit,
                bibendum quam eu, interdum erat. Praesent interdum velit. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor. Cras vel
                leo blandit,
                bibendum quam eu, interdum erat. Praesent.</p>
            <app-button buttonText="MEET CHARACTERS" [width]="'225px'" [height]="'38.5px'" />
        </div>
    </div>
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" loading='lazy' alt="border">
</section>