<ul class="card_list">
    <li class="card_item">
        <img src="../../assets/styles/img/ip-card-img1-min.png" alt="card-img">
        <div class="btn_container">
            <app-play-bt></app-play-bt>
        </div>
        <div class="card_description">
            <p class="card_description_title">CREATURE EXTRACTION SHOOTER</p>
            <div class="see_more_container">
                <p>STORY OF HIDDEN ISLANDS</p>
                <svg class="see_more_icon">
                    <use href="../../assets/styles/icons/sprite.svg#see-more-icon"></use>
                </svg>
            </div>
        </div>
    </li>
    <li class="card_item">
        <img src="../../assets/styles/img/ip-card-img2-min.png" alt="card-img">
        <div class="btn_container">
            <app-play-bt></app-play-bt>
        </div>
        <div class="card_description">
            <p class="card_description_title">ANEEMATE<br> ULTIMATE ARENA</p>
            <div class="see_more_container">
                <p>SHOW GAMEPLAY</p>
                <svg class="see_more_icon">
                    <use href="../../assets/styles/icons/sprite.svg#see-more-icon"></use>
                </svg>
            </div>
        </div>
    </li>
    <li class="card_item">
        <img src="../../assets/styles/img/ip-card-img3-min.png" alt="card-img">
        <div class="btn_container">
            <app-play-bt></app-play-bt>
        </div>
        <div class="card_description">
            <p class="card_description_title">ANEEMATE TV SHOW!</p>
            <div class="see_more_container">
                <p>SHOW MORE</p>
                <svg class="see_more_icon">
                    <use href="../../assets/styles/icons/sprite.svg#see-more-icon"></use>
                </svg>
            </div>
        </div>
    </li>
    <li class="card_item">
        <img src="../../assets/styles/img/ip-card-img4-min.png" alt="card-img">
        <div class="btn_container">
            <app-play-bt></app-play-bt>
        </div>
        <div class="card_description">
            <p class="card_description_title">ANEEMATE COMIC <br> BOOK!</p>
            <div class="see_more_container">
                <p>GET YOUR STICKERS</p>
                <svg class="see_more_icon">
                    <use href="../../assets/styles/icons/sprite.svg#see-more-icon"></use>
                </svg>
            </div>
        </div>
    </li>
    <span class="scroll_decor"></span>
</ul>