<section class="section">
    <div class="block_wrapper">
        <div class="title_container">
            <img class="title_creature" src="assets/styles/icons/the-story-creature-title.svg" alt="crature" />
            <p class="title">THE STORY</p>
        </div>
        <div class="text_container">
            <p>Back in the day, when old, comely buildings huddled in the center and vast stretches of greenery adorned
                the city parks,
                the idea of The Hidden Island wasn’t just a telltale - children truly believed. But that was then.</p>
            <p>As the city evolved, the industrial sites outgrew the roofs of their homes, factories blighted the air,
                and the
                skyscraping high-rise towers devoured the skyline. The air, now putrid and foul, polluted the memories
                of the fairytale.
                Yet still, some kids kept their beliefs intact.</p>
            <app-button buttonText="READ STORY" [width]="'182.62px'" [height]="'38.5px'" />
        </div>
    </div>
    <img class="creature" src="assets/styles/icons/the-story-creature.svg" loading='lazy' alt="creature">
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" loading='lazy' alt="border">
</section>