<section class="section">
    <div class="block_wrapper">
        <div class="title_container">
            <p class="title">HIDDEN ISLANDS</p>
        </div>
        <div class="text_container">
            <p>From time immemorial, the myth lived its own vibrant life. Passed down from generation to generation, the
                seed of mere
                thought was ingraining a story of the other-worldly realm in every child's mind. Those who believe are
                beckoned to dare
                in. For others, the island will always be hidden.</p>
            <ul class="elements_list">
                <li class="element_item">
                    <img src="../../assets/styles/icons/fire-icon.svg" loading='lazy' alt="fire" />
                </li>
                <li class="element_item">
                    <img src="../../assets/styles/icons/earth-icon.svg" loading='lazy' alt="earth" />
                </li>
                <li class="element_item">
                    <img src="../../assets/styles/icons/water-icon.svg" loading='lazy' alt="water" />
                </li>
                <li class="element_item">
                    <img src="../../assets/styles/icons/dark-icon.svg" loading='lazy' alt="dark" />
                </li>
                <li class="element_item">
                    <img src="../../assets/styles/icons/lightning-icon.svg" loading='lazy' alt="lightning" />
                </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor.
                Pellentesque sed
                sollicitudin dolor.</p>
            <app-button buttonText="SHOW ME REGIONS" [width]="'252px'" [height]="'38.5px'" />
        </div>
    </div>
    <img class="creature" src="assets/styles/icons/hidden-islands-creature.svg" loading='lazy' alt="creature">
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" loading='lazy' alt="border">
</section>