.section {
    width: 100%;
    min-height: 1080px;
    height: 100dvh;
    background-image: url('/assets/styles/img/hidden-island-bg.jpg');
    background-position: center;
    position: relative;
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.block_wrapper {
    position: absolute;
    position: absolute;
    top: 182.73px;
    left: 7.526%;
    width: 715.5px;
    height: 787.5px;
}

.text_container {
    background-size: cover;
    -webkit-clip-path: url(#container-hidden-islands);
    clip-path: url(#container-hidden-islands);
    backdrop-filter: blur(10px);
    padding: 163px 61.9px 0 87.56px;
    background-image: url('../../assets/styles/icons/hidden-islands-bg-container.svg');
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
        font-size: 18px;
        line-height: 40px;

        &:nth-child(1) {
            margin-bottom: 55.27px;
        }

        &:nth-child(3) {
            margin-bottom: 25px;
        }
    }
}

.elements_list{
    display: flex;
    align-items: center;
    gap: 28.31px;
    width: 100%;
    justify-content: center;
    margin-bottom: 48px;
}

.element_item{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: 4px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        transform: scale(0.93);
    }
}

.title_container {
    position: absolute;
    top: -73.91px;
    left: 46.92px;
    width: 616.2px;
    height: 171.86px;
    background-image: url('/assets/styles/icons/hidden-islands-title-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2.08deg);
    font-family: LilitaOne;
    font-size: 70px;
    letter-spacing: -1%;
    text-wrap: nowrap;
}

.creature {
    position: absolute;
    top: 6px;
    right: 5%;
    transform: rotate(-10.37deg);
    width: 20.31%;
}

.border {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%) rotate(180deg) rotateY(180deg);
    z-index: 2;
}