<section class="section">
    <div class="title_container">
        <img class="title_creature" src="../../assets/styles/icons/IP-section_title_creature.svg" loading="lazy"
            alt="creature">
        <p class="title">GENERATION IP</p>
    </div>
    <div class="section_container">
        <app-ip-cards-list></app-ip-cards-list>
        <p class="third_title" style="text-align: end;">BUILD ON TOP OF</p>
        <ul class="aneemate_ip_list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor. Cras vel
                leo blandit,
                bibendum quam eu, interdum erat. Praesent interdum velit. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.</li>
            <li class="second_title">ANEEMATE &nbsp;IP</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor. Cras vel
                leo blandit,
                bibendum quam eu, interdum erat. Praesent interdum velit. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor. Cras vel
                leo blandit,
                bibendum quam eu, interdum erat. Praesent interdum velit. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.</li>
        </ul>
        <div class="token_container">
            <div>
                <p class="third_title">UNIFIED BY</p>
                <p class="second_title">ONE TOKEN</p>
            </div>
            <img class="token_img" src="../../assets/styles/img/token-img-min.png" alt="token">
            <div class="buy_now_container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin dolor. Cras
                    vel leo blandit,
                    bibendum quam eu, interdum erat.</p>
                <app-buynow-btn></app-buynow-btn>
            </div>
        </div>
        <div class="genesis_colection_container">
            <div class="genesis_card_container">
                <img src="../../assets/styles/img/genesis-conction-img1-min.png" alt="genesis-card"
                    srcset="../../assets/styles/img/genesis-conction-img1-min.png 1x, ../../assets/styles/img/genesis-conction-img1-2x-min.png 2x">
                <img src="../../assets/styles/img/genesis-conction-img2-min.png" alt="genesis-card"
                    srcset="../../assets/styles/img/genesis-conction-img2-min.png 1x, ../../assets/styles/img/genesis-conction-img2-2x-min.png 2x">
                <img src="../../assets/styles/img/genesis-conction-img3-min.png" alt="genesis-card"
                    srcset="../../assets/styles/img/genesis-conction-img3-min.png 1x, ../../assets/styles/img/genesis-conction-img3-2x-min.png 2x">
                <img src="../../assets/styles/img/genesis-conction-img4-min.png" alt="genesis-card"
                    srcset="../../assets/styles/img/genesis-conction-img4-min.png 1x, ../../assets/styles/img/genesis-conction-img4-2x-min.png 2x">
                <img src="../../assets/styles/img/genesis-conction-img5-min.png" alt="genesis-card"
                    srcset="../../assets/styles/img/genesis-conction-img5-min.png 1x, ../../assets/styles/img/genesis-conction-img5-2x-min.png 2x">
            </div>
            <p class="third_title" style="text-align: center;">GENESIS COLECTION</p>
            <p class="second_title" style="text-align: center;">BECOME THE FOUNDER</p>
            <div class="genesis_btns_container">
                <app-button buttonText="BUY NOW"></app-button>
                <app-button buttonText="READ MORE"></app-button>
            </div>
        </div>
    </div>
    <img class="creature top" src="../../assets/styles/icons/ip-creature1.svg" loading='lazy' alt="creature">
    <img class="creature middle" src="../../assets/styles/icons/ip-creature2.svg" loading='lazy' alt="creature">
    <img class="creature bottom" src="../../assets/styles/icons/rodent-icon.svg" loading='lazy' alt="creature">
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" loading='lazy' alt="border">
</section>

../../assets/styles/icons/rodent-icon.svg