<nav class="nav">
    <ul class="link_list">
        <li class="link_item">
            <a class="link" href="">
                <p class="link_text">STORY</p>
                <p class="link_text_hover">STORY</p>
                <img src="../../assets/styles/icons/hidden-islands-creature.svg" loading='lazy' alt="cat-icon">
            </a>
        </li>
        <li class="link_item">
            <a class="link" href="">
                <p class="link_text">GAMEPLAY</p>
                <p class="link_text_hover">GAMEPLAY</p>
                <img src="../../assets/styles/icons/cat-icon.svg" loading='lazy' alt="cat-icon">
            </a>
        </li>
        <li class="link_item">
            <a class="link" href="">
                <p class="link_text">MATEBOOK</p>
                <p class="link_text_hover">MATEBOOK</p>
                <img src="../../assets/styles/icons/meet-the-characters-title-creature.svg" loading='lazy'
                    alt="cat-icon">
            </a>
        </li>
        <li class="link_item">
            <a class="link" href="">
                <p class="link_text">CHARACTERS</p>
                <p class="link_text_hover">CHARACTERS</p>
                <img src="../../assets/styles/icons/the-story-creature.svg" loading='lazy' alt="cat-icon">
            </a>
        </li>
        <li class="link_item">
            <a class="link" href="">
                <p class="link_text">TOKEN</p>
                <p class="link_text_hover">TOKEN</p>
                <img src="../../assets/styles/icons/rodent-icon.svg" loading='lazy' alt="cat-icon">
            </a>
        </li>
        <li class="link_item">
            <a class="link" href="">
                <p class="link_text">JOIN DISKORD</p>
                <p class="link_text_hover">JOIN DISKORD</p>
                <img src="../../assets/styles/icons/jumping-creature.svg" loading='lazy' alt="cat-icon">
            </a>
        </li>
    </ul>
    <ul class="social_list">
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/discord-icon.svg" loading='lazy' alt="discord-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/x-icon.svg" loading='lazy' alt="x-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/telegram-icon.svg" loading='lazy' alt="telegram-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/instagram-icon.svg" loading='lazy' alt="instagram-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/youtube-icon.svg" loading='lazy' alt="youtube-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/twitch-icon.svg" loading='lazy' alt="twitch-icon">
            </a>
        </li>
        <span class="social_line"></span>
    </ul>
    <p class="rights_text">QORPO GAME STUDIO © 2023 All rights reserved</p>
</nav>