/* You can add global styles to this file, and also import other style files */
@import './assets/styles/init-css';

:root {
--white: #fff;
--black: #000000;
--yellow-main: #FFE500;
--yellow-secondary: #FFCD00;
}

@font-face {
    font-family: LilitaOne;
    src: url('./assets/styles/fonts/LilitaOne-Regular.ttf');
}

@font-face {
    font-family: Oxanium;
    src: url('./assets/styles/fonts/Oxanium-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Oxanium;
    src: url('./assets/styles/fonts/Oxanium-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Oxanium;
    src: url('./assets/styles/fonts/Oxanium-ExtraBold.ttf');
    font-weight: 800;
}

// @media screen and (max-width: 2880px) {
//     html {
//         font-size: 24px;
//     }
// }

// @media screen and (max-width: 2000px) {
//     html {
//         font-size: 16px;
//     }
// }

// @media screen and (max-width: 1700px) {
//     html {
//         font-size: 14px;
//     }
// }

html {
    // font-size: calc(0.5px + (1vw + 1vh) / 2);
    font-size: calc(16px + (100vw - 1920px) / 192 + (100vh - 1080px) / 192);;
    // font-size: calc(16px + (100dvh - 1080px) / 108);
    // @media (max-height: 1080px) {
    //     font-size: calc(16px + (100dvh - 1080px) / 108);
    // }
}

body{
font-family: Oxanium;
font-weight: 500;
color: var(--white);
overflow-x: hidden;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}