.section {
    position: relative;
    min-height: 695px;
    height: 100dvh;
    width: 100%;
    background-image: url(../../assets/styles/img/BG-home-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    position: absolute;
    top: 35.84%;
    left: 50%;
    transform: translateX(-50%);
    width: 51.94%;
    animation: opacitiAnimation 0.8s ease-in-out;
}

.bird {
    position: absolute;
    right: 11.6%;
    width: 58.672%;
    animation: birdAppear 0.8s ease-in-out;
}

.people {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80.41%;
    animation: peopleAppear 0.8s ease-in-out;
}

.text_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27.593%;
    animation: opacitiAnimation 0.8s ease-in-out;

    p {
        color: var(--white);
        font-weight: 700;
        text-align: center;

        &:nth-child(1) {
            font-size: 1.5rem;
        }

        &:nth-child(2) {
            font-size: 2rem;
        }
    }
}

.company_logos {
    position: absolute;
    bottom: 8.61%;
    right: 6.823%;
    display: flex;
    animation: opacitiAnimation 0.8s ease-in-out;

    img {
        animation: opacitiAnimation 0.8s ease-in-out;
        height: 2.75rem;
        &:nth-child(1) {
            width: 14.9375rem;
            margin-right: 9.36px;
        }

        &:nth-child(2) {
            width: 4.875rem;
            margin-right: 3.57px;
        }

        &:nth-child(3) {
            width: 6.75em;
            margin-right: 20.83px;
        }

        &:nth-child(4) {
            width: 5.1875em;
            margin-right: 30.16px;
        }
                &:nth-child(5) {
                    width: 2em;
                }
    }
}

.mause_container {
    position: absolute;
    bottom: 17.96%;
    right: 8.125%;
    transform-origin: right bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
    transform: rotate(90deg);
}

.mouse_icon {
    width: 1.125rem;
    height: 1.75rem;
    transform: rotate(-90deg) translateX(2px);
    animation: opacitiAnimation 0.8s ease-in-out;
}

.scroll_down_text {
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
    animation: opacitiAnimation 0.8s ease-in-out;
}

.border {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    z-index: 2;
}

.btn_container{
    position: absolute;
    bottom: 15.9%;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes birdAppear {
    from {
        transform: translate(100%, -50%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

@keyframes peopleAppear {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes opacitiAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}