<section class="section">
    <img class="logo" src="assets/styles/icons/Logo.svg" loading='lazy' alt="logo" width="977.2" [hidden]="isMenuOpen">
    <img class="bird" src="assets/styles/img/bird-home-min.png" loading='lazy' width="1423px" alt="bird"
        [hidden]="isMenuOpen">
    <img class="people" src="assets/styles/img/People-home-min.png" loading='lazy' width="1544px" alt="people">
    <div class="text_container" [hidden]="isMenuOpen">
        <p>SESONE ONE</p>
        <p>AVAILABLE SOON</p>
    </div>
    <div class="btn_container">
        <app-play-bt [hidden]="isMenuOpen" />
    </div>
    <div class="mause_container" [hidden]="isMenuOpen">
        <img class="mouse_icon" src="assets/styles/icons/mouse-icon.svg" alt="mouse-icon" [hidden]="isMenuOpen">
        <p class="scroll_down_text" [hidden]="isMenuOpen">SCROLL DOWN</p>
    </div>
    <div class="company_logos" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/unreal-engine-icon.svg" loading='lazy' alt="unreal-engine-icon"
            [hidden]="isMenuOpen">
        <img src="assets/styles/icons/Epic-Games-Logo.svg" loading='lazy' alt="epic-games-logo" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/psp-logo.svg" loading='lazy' alt="psp-logo" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/x-box-logo.svg" loading='lazy' alt="x-box-logo" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/PEGI_3-logo.svg" loading='lazy' alt="PEGI_3-logo" [hidden]="isMenuOpen">
    </div>
    <app-navigation [hidden]="!isMenuOpen"></app-navigation>
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" loading='lazy' alt="border">
</section>