<section class="section">
    <img class="logo" src="assets/styles/icons/Logo.svg" alt="logo" width="977.2" [hidden]="isMenuOpen">
    <img class="bird" src="assets/styles/img/bird-home.png" width="1423px" alt="bird" [hidden]="isMenuOpen">
    <img class="people" src="assets/styles/img/People-home.png" width="1544px" alt="people">
    <div class="text_container" [hidden]="isMenuOpen">
        <p>SESONE ONE</p>
        <p>AVAILABLE SOON</p>
    </div>
    <app-play-bt [hidden]="isMenuOpen" />
    <div class="mause_container" [hidden]="isMenuOpen">
        <img class="mouse_icon" src="assets/styles/icons/mouse-icon.svg" alt="mouse-icon" [hidden]="isMenuOpen">
        <p class="scroll_down_text" [hidden]="isMenuOpen">SCROLL DOWN</p>
    </div>
    <div class="company_logos" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/unreal-engine-icon.svg" alt="unreal-engine-icon" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/Epic-Games-Logo.svg" alt="epic-games-logo" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/psp-logo.svg" alt="psp-logo" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/x-box-logo.svg" alt="x-box-logo" [hidden]="isMenuOpen">
        <img src="assets/styles/icons/PEGI_3-logo.svg" alt="PEGI_3-logo" [hidden]="isMenuOpen">
    </div>
    <app-navigation [hidden]="!isMenuOpen"></app-navigation>
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" alt="border">
</section>