<section class="section">
    <div class="title_container">
        <p class="title">GAMEPLAY</p>
    </div>
    <div class="btn_container">
        <app-play-bt></app-play-bt>
        <app-button width="11.41375rem" height="2.40625rem" buttonText="READ MORE"></app-button>
    </div>
    <img class="creature" src="../../assets/styles/icons/gameplay-creature.svg" loading='lazy' alt="creature">
    <img class="border" src="assets/styles/icons/home-bottom-border.svg" loading='lazy' alt="border">
</section>