<section class="section">
    <div class="title_container">
        <p class="title">FOLLOW US</p>
    </div>
    <ul class="social_list">
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/discord-icon.svg" width="2.25rem" height="2.25rem" loading='lazy'
                    alt="discord-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/x-icon.svg" width="1.8125rem" height="1.6875rem" loading='lazy'
                    alt="x-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/telegram-icon.svg" width="1.8755rem" height="1.625rem"
                    loading='lazy' alt="telegram-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/instagram-icon.svg" width="2.0625rem" height="2.0625rem"
                    loading='lazy' alt="instagram-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/youtube-icon.svg" width="2.3125rem" height="1.6875rem"
                    loading='lazy' alt="youtube-icon">
            </a>
        </li>
        <li class="social_item">
            <a href="">
                <img src="../../assets/styles/icons/twitch-icon.svg" width="1.8125rem" height="1.9375rem" loading='lazy'
                    alt="twitch-icon">
            </a>
        </li>
        <span class="social_line"></span>
    </ul>
</section>